.accordion-button {
    background-color: #161616 !important;
    color: #E0E0E0 !important;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 15px;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1;
    border-top: 1px solid #808080 !important;
    border-left: 1px solid #808080 !important;
    border-right: 1px solid #808080 !important;

    z-index: 1;
}

thead {
    border-top: #444 solid 1px !important;
}

.accordion-item:last-child .accordion-button:last-child {
    border-bottom: 1px solid #808080 !important;
}

.accordion-item:last-child .accordion-body:last-child {
    border-bottom: 1px solid #000000 !important;

}

#ostatnitd {
    border-bottom: none;
}

.accordion-item {
    border: none !important;
}

.accordion-body {
    border-left: 1px solid #757575 !important;
    border-right: 1px solid #757575 !important;
    z-index: 1;
}


.accordion-button:not(.collapsed) {
    background-color: #444;

    z-index: 2;
}

.accordion-button:hover {
    background-color: #555;
}

.accordion-body {
    background-color: #222;
    color: white;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.table-dark {
    background-color: #333;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    flex-grow: 1;
}

.table-dark th,
.table-dark td {
    border-color: #444;
    padding: 10px;
    text-align: left;
}

.table-dark th {
    background-color: #444;
}

.table-dark tr:nth-child(even) {
    background-color: #3a3a3a;
}

body {
    background-color: rgb(12, 12, 12);
}

/* Specific rule for the accordion buttons */
#headingOne .accordion-button,
#headingTwo .accordion-button,
#headingThree .accordion-button,
#headingFour .accordion-button,
#headingFive .accordion-button,
#headingSix .accordion-button,
#headingSeven .accordion-button,
#headingEight .accordion-button,
#headingNine .accordion-button,
#headingTen .accordion-button {
    background-color: rgb(12, 12, 12);
    color: white;
    font-size: 19px;
}

.accordion-body {
    border-top: none !important;
}

#headingOne .accordion-button:not(.collapsed),
#headingTwo .accordion-button:not(.collapsed),
#headingThree .accordion-button:not(.collapsed),
#headingFour .accordion-button:not(.collapsed),
#headingFive .accordion-button:not(.collapsed),
#headingSix .accordion-button:not(.collapsed),
#headingSeven .accordion-button:not(.collapsed),
#headingEight .accordion-button:not(.collapsed),
#headingNine .accordion-button:not(.collapsed),
#headingTen .accordion-button:not(.collapsed) {
    color: rgb(252, 77, 61) !important;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);

}

#headingOne .accordion-button:hover,
#headingTwo .accordion-button:hover,
#headingThree .accordion-button:hover,
#headingFour .accordion-button:hover,
#headingFive .accordion-button:hover,
#headingSix .accordion-button:hover,
#headingSeven .accordion-button:hover,
#headingEight .accordion-button:hover,
#headingNine .accordion-button:hover,
#headingTen .accordion-button:hover {
    background-color: rgba(0, 0, 0, 0.945);
}

/* Change the color of the arrows in the accordion buttons to white */
.accordion-button::after {
    filter: invert(1);
}

/* Change the color of the arrows to red when the button is expanded */
.accordion-button:not(.collapsed)::after {
    filter: invert(0) hue-rotate(136deg) brightness(300%);
}

.accordion-body {
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
    flex-direction: column;
}

.accordion-button:not(.collapsed)+.accordion-body .table-dark th {
    border-top: 1px solid #444;
    /* Add top border to match the bottom border */
}

.table-dark {
    flex-grow: 1;
    /* Ensure the table grows to fill the available space */
}

h2 {
    scale: 1.0 !important;
}

@media (max-width: 1400px) {
    h2 {
        margin-top: 0px !important;
    }

    .accordion-button {
        margin-bottom: 0;
    }

    .accordion-item {
        border: none;
    }

    .accordion-button {
        font-size: 17px !important;
    }



}

@media(min-width: 1400px) {
    h2 {
        margin-bottom: 0px !important;
    }

    .accordion-item {
        border: none;
    }


}

.table-dark td:nth-child(2) {
    text-shadow: black 1px 1px 2px;
    /* Increase spacing for the price column */
}


@media (max-width: 576px) {
    .table-dark td:nth-child(2) {
        padding-left: 50px;
        /* Increase spacing for the price column */
    }

    .table-dark th:nth-child(2) {
        padding-left: 50px;
        /* Increase spacing for the header */
    }

}

.table {
    flex-grow: 1 !important;
    margin-bottom: 0 !important;
    /* Usunięcie marginesu dolnego */
}

.cennikInfo {
    margin-bottom: -70px !important;

}

.cennikInfo p {
    color: #dfdfdf;
}

.accordion-button,
.accordion-item,
.accordion-header {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    user-select: none;
}

.accordion-button:focus,
.accordion-item:focus,
.accordion-header:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media (max-width: 768px) {
    .collapsed {
        font-size: 16px !important;
    }

    .accordion-button:not(.collapsed) {
        font-size: 16px !important;
    }

    p {
        font-size: 15px;
    }

    h1 {
        scale: 0.9;
    }

    tbody {
        font-size: 14px;
    }

    thead {
        font-size: 15px;
    }

}

h1 {
    margin-bottom: 15px !important;
    color: #dbdada !important;
    text-shadow: 1px 1px 1px black;
}

button {
    border: none !important;
    /* Disable border for all buttons */
    outline: none !important;
    /* Remove focus outline */
    box-shadow: none !important;
    /* Remove any shadow applied */
}
